[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ETRep"]
	path = ETRep
	url = https://github.com/mohsentaherishalmani/elliptical_tubes
	subdir = ETRep
